<div class="form-group col-xs-6">
  <h4>Comments for Folder</h4>
  <div class="comments">
    <ul>  </ul>
  </div>
</div>
<div class="form-group col-xs-4">
  <h4>New Comment</h4>
  <form accept-charset="UTF-8" class="simple_form new_comment" id="new_comment_global">
    <div style="margin:0;padding:0;display:inline">
      <input name="utf8" type="hidden" value="✓">
    </div>
    <div class="control-group text required comment_content">
      <label class="text required control-label" for="comment_content">
        <abbr title="required">*
        </abbr> Content
      </label>
      <div class="controls">
        <textarea class="text required" cols="40" id="comment_content" name="comment[content]" placeholder="leave your comment" rows="5">
        </textarea>
      </div>
    </div>
    <div class="actions_global">
      <input class="btn btn btn-primary submit" name="commit" type="submit" value="Create Comment">
    </div>
  </form>
</div>


