<div class = "comment_head">
  <b class="autor"> 
    <%= comment.get("author") %>
  </b>
  <span class = "timestamp" >
    <%= comment.get("strftime") %>
  </span>
</div>
<div class = "comment_content">
  <%= comment.get("content") %>
</div>
<div class = "reply_controls">
  <div class="links">
    <a href="#" class="link_hidden_form_reply">Reply</a>
    <span>|</span>
    <a href ="#">Destroy</a>
  </div>
  <div class = "voiting">
  </div>
</div>