<div class="positive">
  <div class="comment_head">
    <b class="autor"> 
      <%= comment.get("author") %>
    </b>
    <span class="timestamp" >
      <%= comment.get("created_date_time") %>
    </span>
  </div>
  <div class="comment_content">
    <%= comment.get("content") %>
  </div>
  <div class="reply_controls">
    <div class="links">
      <a href="#" class="link_hidden_form_reply">Reply</a>
      <span>|</span>
      <a href="#" class="link_form_delete">Destroy</a>
    </div>
    <div class="voiting">
      <div>0
        <a href="#" class="up-vote" data-method="post" data-remote="true" rel="nofollow">
          <span class="glyphicon glyphicon-thumbs-up">
         </span>
        </a>
        <span>|</span>0
        <a href="#" class="down-vote" data-method="post" data-remote="true" rel="nofollow">
          <span class="glyphicon glyphicon-thumbs-down"></span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="hidden_form_reply">
  <div class="form-group">
    <form accept-charset="UTF-8" class="simple_form new_comment" id="new_comment_reply">
      <div style="margin:0;padding:0;display:inline">
        <input name="utf8" type="hidden" value="✓">
      </div>
      <div class="form-inputs">
        <div class="control-group text required comment_content">
          <label class="text required control-label" for="comment_content">
            <abbr title="required">*</abbr> Content
          </label>
          <div class="controls">
            <textarea class="text required" cols="40" id="comment_content" name="comment[content]" placeholder="leave your comment" rows="5">
           </textarea>
          </div>
        </div>
      </div>
      <div class="actions_reply">
        <input class="btn btn btn-primary submit" name="commit" type="submit" value="Create Comment"><a href="#" class="btn link_cancel_hidden_form_reply">Cancel</a>
      </div>
    </form>
  </div>
</div>
<br>
<ul class="comment-<%= comment.get('id') %>"></ul>
