<%= comment.get("votes_up") %>
<a href ='<%= vote.get("vote_path_true") %>'>
  <span class = "glyphicon glyphicon-thumbs-up">
  </span>
</a>
<span>|</span>
<%= comment.get("votes_down") %>
<a href ='<%= vote.get("vote_path_false") %>'>
  <span class = "glyphicon glyphicon-thumbs-down">
  </span>
</a>