<tr><td colspan="6" class="up"><a href='#' class="folder_link">
  <img align="bottom" border="0" class="icon" src="/assets/icons/fam-fam/16/folder.png">
  <span class="text">..</span></a>
</td></tr>
