<li>
  <% if (folder.get("has_children?") == true) {%>
    <span class="glyphicon glyphicon-plus"></span>
  <% } %>
  <a href='#'><img align="bottom" border="0" class="icon" src="/assets/icons/fam-fam/16/folder.png"><span class="near_icon"><%= folder.get("title") %></span></a>
</li>