- content_for :menu do
  = render 'shared/menu'

= render 'table', {:folders => @folder.children, :items => @folder.items}

= link_to 'New Folder', new_folder_path(:folder_id => params[:id]) 
' &nbsp  |  &nbsp  
= link_to 'New Item', new_item_path(:folder_id => params[:id])
