ul.nav.nav-tabs.control_buttons
  li
    a href="#"
      span.glyphicon.glyphicon-refresh
      span
        |  Refresh
  li
    span
      ||
  li
    a href="#"
      = icon :bullet_wrench
  li
    a href="#"
      = icon :page_white_get
  li
    span
      ||
  li
    a href="#"
      = icon :page_white_delete
  li
    span
      || 
  li
    = link_to new_folder_path(:folder_id => params[:id])
      = icon :folder_add
  li
    = link_to new_item_path(:folder_id => params[:id])
      = icon :database_go
      span.link_title Upload 
  li
    span
      || 
  li
    a href="#"
      = icon :control_play_blue
      span
        |  Play
  li
    span
      || 
  li
    = link_to duplicates_items_path do
      = icon :page_white_copy
      span.link_title Search duplicates
  li
    span
      ||
  li
    = link_to send_daily_report_path do
      = icon :email
      span.link_title Daily report
