.row.panel.panel-default
  .panel-heading
    h3.panel-title 
      table.table.table-striped
        thead
          tr
            th Name
            th Size
            th Type
            th Date modified
        tbody
          tr
            td Photo
            td 2 Mb
            td JPEG
            td some date
          tr
            td Music
            td 3 Mb
            td MP3
            td some date
          tr
            td Video
            td 4 Mb
            td MPEG-2
            td some date







 