h4 Total amount of files in system:

table.table-condensed.total_files
  thead
    tr
      th Files type
      th Files size
      th Files amount
  tbody
    tr
      td Image
      td = number_to_human_size @images_sum
      td = @images_count
    tr 
      td Video
      td = number_to_human_size @video_sum
      td = @video_count
    tr
      td Music
      td = number_to_human_size @music_sum
      td = @music_count
    tr
      td Text
      td = number_to_human_size @texts_sum
      td = @texts_count
    tr
      td Map
      td = number_to_human_size @maps_sum
      td = @maps_count
    tr
      td.b Total
      td.b = number_to_human_size @total_sum
      td.b = @total_count

.files_chart_sum
.files_chart_count

javascript:

  $(function () {
          $('.files_chart_sum').highcharts({
              chart: {
                  type: 'bar'
              },
              title: {
                  text: 'Chart of total files sum in system'
              },
              xAxis: {
                  categories: ['Media files', 'Text files', 'Maps']
              },
              yAxis: {
                  min: 0,
                  title: {
                      text: 'Total sum of files'
                  }
              },
              legend: {
                  backgroundColor: '#FFFFFF',
                  reversed: true
              },
              plotOptions: {
                  series: {
                      stacking: 'normal'
                  }
              },
                  series: [{
                  name: 'Images',
                  data: [#{@images_sum.to_i}, 0, 0]
              }, {
                  name: 'Video',
                  data: [#{@video_sum.to_i}, 0, 0]
              }, {
                  name: 'Music',
                  data: [#{@music_sum.to_i}, 0, 0]
              }, {
                  name: 'Text',
                  data: [0, #{@texts_sum.to_i}, 0]
              }, {
                  name: 'Map',
                  data: [0, 0, #{@maps_sum.to_i}]
              }]
          });

        $('.files_chart_count').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Chart of total files count in system'
            },
            tooltip: {
              pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Total files',
                data: [
                    ['Images', #{@images_count}],
                    ['Video', #{@video_count}],
                    ['Music', #{@music_count}],
                    ['Text', #{@texts_count}],
                    ['Map', #{@maps_count}]
                ]
            }]
        });
      });
