// this file resets all default bootstrap settigs fonts etc;
// @import "compass/reset.scss"; 

@import "compass/layout.scss";

@include sticky-footer(77px, ".container-fluid", ".row-fluid",".footer");

.alert {
  margin: 0px;  
  background-color: orange;
  color: wihte;
  text-align: center;
};

.alert-error {

};

.alert-notice {

};

.help-inline {
  padding-left: 6px;
}