.btn.btn-primary.save{
  margin-top: 12px;
  margin-left: 149px;
  text-align: center; 
}

ul.btn{
  background-color: #0D2033;  
  float: left;
  min-width: 50px;
  margin: 0px;
  margin-left: 15px;
  list-style-type: none;
  margin-top: 10px;
  span.glyphicon.glyphicon-arrow-left{
    color: white;
  }
}

.form-actions{
  .btn{
    margin-left: 17px;
  }
}

.btn.btn-primary.submit{
  margin-top: 12px;
  margin-left: 16px;
  text-align: center; 
}