@import "mixins.css.scss";

.btn.btn-primary.save{
  margin-top: 12px;
  margin-left: 149px;
  text-align: center; 
}

.nav-buttons{
  float: left;
  height: 30px;
  min-width: 50px; 
  width: 4%;
  display: inline-block;
  .pager{
    margin: 0;
    padding: 0;
    #wrapper{
      min-width: 50px;
    };
  };
};

.form-actions{
  .btn{
    margin-left: 17px;
  }
}