ul.btn{
  background-color: #0D2033;
  float: left;
  min-width: 50px;
  margin: 0px;
  margin-left: 15px;
  list-style-type: none;
  margin-top: 10px;
  span.glyphicon.glyphicon-arrow-left{
    color: white;
  }
}

.btn.btn-primary.submit{
  margin-top: 12px;
  text-align: center; 
}