// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments{
  width: 600px;
  ul{
    list-style-type: none;
    word-wrap: break-word;    
  }
  ul li {
    display: list-item;
    padding-top: 5px;
    margin-bottom: 4px;
    .timestamp{
      color: #a8a8a8;
      padding-left: 5px;
    }
    .autor{
      vertical-align: middle;
    }
    .reply_controls{
      width: 300px;
      .voiting{
        float: right;
      }
      .links{
       float: left;
      }
    }    
  }
  li > ul{
    padding-left: 30px;
    padding-top: 10px;
  } 
}

.negative{
  opacity: 0.5;
  &:hover{
    opacity: 1;
  }
}

.hidden_form_reply{
  padding-top: 10px;
  display: none;
}

