// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments{
  width: 400px;
  ul{
    list-style-type: none;
  }
  ul li {    
    padding-bottom: 10px;
    padding: 7px;
    margin-bottom: 4px;
    border: 1px solid #dddddd;
  };
  span{
    padding: 5px;
  }
}