// Place all the styles related to the Folders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.catalog_tree{
  position: absolute;
  top: 200px;
  left: 50px;
  border: 2px solid black;
	li > ul{
    margin-left: 20px;
	};
};
