footer.footer {
  background-color: #007FFF;
  color: white;
  padding-left: 35px;
}

.item_details {
  padding-top: 10px;
  ul.nav.nav-pills.nav-stacked.title {
    display: inline-block;
    width: 65px;
  }
  ul.nav.nav-pills.nav-stacked.val {
    display: inline-block;
    width: 300px;
  }
  span.title {
    color: blue;
    padding-right: 6px;
  }
}