.form-group.new {  
  margin-top: 20px;
  margin-bottom: 10px;
  label {    
    float: left;
    width: 120px;    
    text-align: right;    
  };
  input{
    margin-left: 12px;
  }  
}

.actions {
  input[type="file"]{
    margin-left: 130px;
  }
}

.control-group {
  .links_reg{
  margin-top: 6px;
  }
}
