@import "mixins.css.scss";
@import "compass";


.form-group.new {  
  padding-left: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
  label {    
    float: left;
    width: 120px;    
    text-align: right;    
  };
  input{
    margin-left: 12px;
  }
}

.actions {
  input[type="file"]{
    margin-left: 148px;
  }
}

.form-inputs{
  padding-left: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
  .required.control-label{
    padding-left: 3px;   
  }
}

.links_reg{
  margin-left: 16px;
  margin-top: 5px;
}