.form-group.new {  
  padding-left: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
  label {    
    float: left;
    width: 120px;    
    text-align: right;    
  };
  input{
    margin-left: 12px;
  }  
}

.actions {
  input[type="file"]{
    margin-left: 148px;
  }
}

.control-group {
  padding-left: 15px;
  margin-top: 20px;
  h4{
  padding-left: 15px;
  }
  .links_reg{
  margin-left: 16px;
  margin-top: 6px;
  }
}
