@import "compass/css3/images";

header.col-xs-12{
  background-color: #007FFF;
  color: white;
  padding: 0px;
  margin: 0px;
  .current_user{
    color: white;
  };
  .flash{
    width: 100%;
    .alert{
      margin-bottom: 0px;
      div.pull-right{
        span{
          cursor: pointer;
        };
      };
    };
  };
  .pull-right.progress{
    position: relative;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0px;
    height: 20px;
    max-width: 300px;
    min-width: 280px;
    background-color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; 
    .progress-bar{
      height: 20px;
      width: 300px;
      color: none;
      overflow: hidden;
      .g-gradient {
        @include background-image(linear-gradient(left, #5AFF30 30%, #FFEE00 40%, #F7B416 70%, #AD0000));
        height: 20px;
        width: 300px;
      };
    };
  };
  .pull-right.text{
    display: inline-block;
    margin-top: 10px;
    padding-right: 10px;
    width: 200px;
    color: white;
    text-align: right;
  };

  span.pull-right{
    color: white;
    vertical-align: middle;
    padding-top: 8px;
  }
};