@import "mixins.css.scss";
@import "compass";

*{
  padding: 0px;
  margin: 0px;
}

.row{
  header {
    background-color: #007FFF;
    .current_user{
      color: white;
    };
    .flash{
      .alert{
        margin-bottom: 0px;
        div.pull-right{
          span{
            cursor: pointer;
          };
        };
      };
    };
    .pull-right.progress{      
      display: inline-block;      
      margin-top: 10px;            
      max-height: 20px;
      min-height: 20px;
      max-width: 300px;
      min-width: 280px;
      background-color: white;
      color: #007FFF;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;      
    };    
  #g-gradient.gradient {
    @include background-image(linear-gradient(left, #5AFF30 30%, #FFEE00));
    };
  #y-gradient.gradient {
    @include background-image(linear-gradient(left, #FFEE00 50%, #F7B416));
    };
  #r-gradient.gradient {
    @include background-image(linear-gradient(left, #F7B416 90%, #AD0000));
    };
  };

  .navigation{
    min-height: 60px;
    max-height: 60px;
    padding-top: 20px;
    background-color: #0D2033;
    .nav-buttons{
      float: left;
      height: 30px;
      min-width: 50px;     
      width: 8%;
      display: inline-block;
      .pager{
        margin: 0;
        padding: 0;
        #wrapper{
          min-width: 50px;
        };      
      };
    };
    .nav-path{ 
      margin-left: 10%;
      height: 30px;
      width: 88%;
      background-color: white;
    };
  };

  .control_panel{
    @include control_buttons_background;
    padding: 10px 0 10px 15px;
    height: 50px;
    color: white;
    .control_buttons {        
      ul{
        margin: 0px;           
      };  
    };
  };

  .menu{
    padding-left: 60px;    
    .tree_menu{
      ul{
        list-style-type: none;
      };      
      li > ul{
        margin-left: 20px;
        list-style-type: none;
      };
    };
  };  
};