@import "mixins.css.scss";
@import "compass";

*{
  padding: 0px;
  margin: 0px;
}

.row{
  margin: 0px;
  .content.row {
    margin: 0px;
    .main_content.col-xs-10 {
      margin: 0px;
      padding: 0px;
      h4{
        padding-left: 15px;
      }
    };
  };  
};

.icon, .glyphicon{
  vertical-align: middle;
  white-space: nowrap;
}

span{
  vertical-align: middle;
  text-align: center;
}
