.menu{ 
  color: black;
  padding: 0px;  
  .favourite { 
    padding-left: 15px;
    height: 30%;
    border: 1px solid #dddddd;
    .nav > li > a {
      color: black;
      padding: 4px 15px 4px 15px;
    };
    h4{
      padding-left: 14px;
    }
  };

  .tree_menu{      
    height: 46%;
    padding-left: 15px;
    border-right: 1px solid #dddddd;
    ul{
      list-style-type: none;
      .glyphicon{
        cursor: pointer;
      }
      a{
        color: black;
        text-decoration: none;
        span:hover{
          text-decoration: underline;
        }
      };    
    };      
    li > ul {
      margin-left: 20px;
      list-style-type: none;
    };
    .list-group{
      padding-left: 15px;
    }
  };
};