.menu {
  color: black;
  padding: 0px;
  .tree_menu {
    padding-left: 15px;
    ul {
      list-style-type: none;
      .glyphicon {
        cursor: pointer;
      }
      a {
        color: black;
        text-decoration: none;
        span:hover {
          text-decoration: underline;
        }
      };
    };
    li > ul {
      margin-left: 20px;
      list-style-type: none;
    };
    .list-group {
      padding-left: 15px;
    }
  };
};

span.near_icon {
  padding-left: 4px;
}