@import "mixins.css.scss";
@import "compass";

.navigation{
  min-height: 60px;
  max-height: 60px;
  padding-top: 15px;
  background-color: #0D2033;
  .nav-buttons{
    float: left;
    height: 30px;
    min-width: 50px; 
    width: 8%;
    display: inline-block;
    .pager{
      margin: 0;
      padding: 0;
      #wrapper{
        min-width: 50px;
      };
    };
  };
  .nav-path{ 
    margin-left: 8%;
    height: 30px;
    width: 88%;
    background-color: white;
  };
};