.navigation {
  min-height: 60px;
  max-height: 60px;
  padding: 0px;
  background-color: #0D2033;
  vertical-align: middle;
  .nav-path { 
    margin-left: 3%;
    padding-top: 20px;
    height: 60px;
    width: 70%;
    display: inline-block;
    color: white;
    vertical-align: middle;
    a {
      color: white;
      padding-left: 4px;
    }
  };
  .my_search {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    .item_search {
      margin-left: 12px;
    }
  }
};

.breadcr {
  display: none;
}